* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p:not(p:last-child) {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content p, button{
    margin: 0 2rem 0 2rem;
}

.content p:first-child {
    margin-top: 9rem;
}

.content p:last-child {
    font-size: 0.8rem
}

.content p:nth-child(3) {
    margin: 1.5rem 2rem 3rem 2rem;
}

.content {
    width: 100%;
}

.sidebar {
    position: relative;
    min-width: 300px;
    height: 100%;
    background-image: url(./images/joel-filipe-QwoNAhbmLLo-unsplash.jpg);
    background-size: cover;
    color: white;
}

form :only-child {
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1.5rem 2rem 1.5rem 2rem;
    box-shadow: 0 6px 4px -4px rgb(184, 184, 184), 0 2px 2px 2px rgb(184, 184, 184);
}

.name {
    display: flex;
    margin-bottom: 1rem;
}

.contact-information {
    display: flex;
    margin-bottom: 1rem;
}

.password {
    display: flex;
}

label,input{
    display:flex;
    flex-direction:column;
}

label {
    font-size: 0.6rem;
    font-weight: bold;
    color: rgb(83, 83, 83)
}

input {
    border: 1px solid rgb(184, 184, 184);
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
}

input:focus { 
    box-shadow: 2px 2px 4px rgb(204, 201, 201); 
}

.name div, .contact-information div, .password div {
    padding-right: 4rem;
}

.error {
    border: 1px solid rgb(187, 4, 4);
}

button {
    margin-bottom: 1.5rem;
    background-color: #596D48;
    color: white;
    border-radius: 4px;
    padding: 0.6rem 1.9rem 0.6rem 1.9rem;
    border: none;
    box-shadow: 2px 2px 4px rgb(204, 201, 201);
}

a {
    color: #596D48;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
}   

.credit {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1%;
    width: 100%;
    font-size: 12px;
}

.credit a {
    color: white;
}

.logo::before {
    background-image: url('./images/odin-lined.png');
    background-size: 64px 64px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
}

.logo::after {
    content: 'ODIN';
    font-family: 'Hubballi', cursive;
    font-size: 64px;
}

h2 {
    font-size: 1.2rem;
}

