* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    position: relative;
    width: 35%;
    height: 100vh;
    background-image: url(./images/joel-filipe-QwoNAhbmLLo-unsplash.jpg);
    background-size: cover;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    width: 100%;
    height: auto;
}

.credit {
    position: absolute;
    bottom: 1%;
}

.logo p {
    font-family: 'Hubballi', cursive;
    font-size: 64px;
}

.logo::before {
    background-image: url('./images/odin-lined.png');
    background-size: 64px 64px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
}

.logo::after {
    content: 'ODIN';
    font-family: 'Hubballi', cursive;
    font-size: 64px;
}


